{% extends 'base.html' %}
{% block content %}
{#<div class="center-pos">#}
<h2 class="center-pos"> Add post</h2>
{% if user.is_authenticated %}
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
{#            <div class="field">#}
{#                <label>Title</label>#}
{#                <div class="control">#}
{#                    <input class="input" type="text">#}
{#                    {{ form.title }}#}
{#                </div>#}
{#            </div>#}
{#            <div class="field">#}
{#                <label>Body</label>#}
{#                <div class="control">#}
{#                    <textarea class="ckeditor" type="text" placeholder="write your post"></textarea>#}
{#                    {{ form.body }}#}
{#                </div>#}
{#            </div>#}
{#            <div class="field">#}
{#                <label>Tags</label>#}
{#                <input type="text", name="newTag">#}
{#                <button method="submit", name="newTag", value="newTag">#}
{#                    AddTag#}
{#                </button>#}
{#            </div>#}
            <div class="center-pos">
                <button>Post</button>
            </div>
        </form>
    </div>
{% else %}
    You're not allowed here! Login or register.
{% endif %}
{% endblock content %}