<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <title>Urbanist blog</title>
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Spectral&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/styles.css" %}"/>
  </head>
  <body>
      <div id="header">
          <div class="logo"><a href="{% url 'home' %}">Urbanist blog</a></div>
{#          <div class="class2">kokoko</div>#}
          <div class="horizontal nav">
              <ul>
                  {% if user.is_authenticated %}
                    <li><a href="{% url 'add_post' %}">Add post</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                    <li><a href="{% url 'register' %}">Registration</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                  {% endif %}
{#                <li><a href="#">Hot</a></li>#}
              </ul>
          </div>
      </div>
      <div id="middle">
          {% block content %}
          {% endblock content %}
      </div>
  </body>
</html>