<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{#user id = {{ user.id }}</br>#}
{#post author id = {{ post.author.id }}#}
  <div class="post">
      <h2>{{ post.title }}</h2>
      <h4>by {{ post.author }}
        {% if user.is_authenticated %}
          {% if user.id == post.author.id %}
            <br/>
            <a href="{% url 'update_post' post.pk %}">edit post</a>-
            <a href="{% url 'delete_post' post.pk %}">delete</a></h4>
          {% endif %}
        {% endif %}
      <p>{{ post.publication_date }}</p>
      <p>{{ post.body }}</p>
  </div>

{% endblock content %}