{% extends 'base.html' %}
{% block content %}
<h2 class="center-pos"> Edit post</h2>
{% if user.is_authenticated %}
  {% if user.id == post.author.id %}
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
        <div class="center-pos"><button>Edit</button></div>
    </div>
    {% else %}
    You're not allowed here! Login or register.
    {% endif %}
{% else %}
    You're not allowed here! Login or register.
{% endif %}
{% endblock content %}